@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	line-height: normal;
}

img {
	max-width: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 3rem;
	background: #FFF;
	box-shadow: 0 10px 9px 0 rgba(0, 0, 0, 0.10);
	position: sticky;
	top: 0;
}

.logo {
	width: 130px;
}

.menu {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 30px;
}

.menu a {
	color: #6227D8;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
}

.menu a:hover {
	text-decoration: underline;
}

.btn {
	display: inline-flex;
	padding: 15px 30px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 20px;
	background: #366DF1;
	box-shadow: 0 -8px 6px 0 rgba(0, 0, 0, 0.09) inset, 0 4px 0 0 #33ADFF;
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
}

.btn:hover {
	background: #F209EE;
}


.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7rem;
	gap: 5rem;
	background: #F209EE;
	color: #fff;
}

.hero h1 {
	font-family: Yellowtail;
	font-size: 100px;
	font-weight: 400;
	line-height: 101.583%; /* 101.583px */
	margin: 0;
}

.hero p {
	font-size: 24px;
	font-weight: 400;
}

.hero img {
	max-width: 800px;
	border-radius: 40px;
	box-shadow: 0 12px 0 0 #33ADFF;
}






